@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 0.2rem;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: slategray;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 3px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}